<ion-view title="MovieDetail">

    <ion-content has-header="true" padding="true">

        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="{{currentMovie.posters.detailed }}"/>
                <h2>{{currentMovie.year}} {{currentMovie.title}}</h2>
                <p>{{currentMovie.synopsis}}</p>
            </div>
            <div class="item item-avatar" ng-repeat="r in reviewsList">
                <h2>{{r.critic}}</h2>
                <h4>{{r.publication}} {{r.date}}</h4>

                <p> " {{r.quote}} " </p>

                <p><a ng-href={{r.links.review}}>to the full review....</a></p>

            </div>
        </div>

    </ion-content>

</ion-view>
